 .topbar{
   flex: 1;
   height: 50px;
   position: sticky;
   top: 0;
   margin-top: -20px;
   margin-left: -10px;
   background-image: url("https://imagizer.imageshack.com/img922/3374/yikioo.jpg");
   border-bottom: 2px solid rgb(0, 0, 0);
   border-right: solid 2px black;
}


 .topbarwrapper{
 display: flex;
 height: 100%;
 align-items: center;
 padding: 0px 20px;
 justify-content: space-between;
 }

 .fs
 {
   width :40px;
   height: 40px;
   cursor: pointer;
 }

 .topAvatar
 {
   width :40px;
   height: 40px;
   border-radius: 50%;
   cursor: pointer;
 }
 
.notifications{
  
   width :40px;
   height: 40px;
   cursor: pointer;
}

 
.navlink{
   
   color: rgb(228, 224, 224);
   font-size: 40px;
   margin-left: 20px;
}

.navlink2{
   
   color: rgb(228, 224, 224);
   font-size: 20px;
   margin-left: 20px;

}
     
a:hover {
      color:violet; /* pour le passage de la souris*/
}

a:link 
{ 
   text-decoration:none; 
} 
 