@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,600&display=swap');
 
 .topbar{
   font-family: 'Cabin', sans-serif;
   height: 50px;
   position: sticky;
   top: 0;
   margin-top: -20px;
   margin-left: -10px;
   background-size: cover;
   background-image: url("https://imagizer.imageshack.com/img922/3374/yikioo.jpg");
   border-bottom: 2px solid rgb(0, 0, 0);
   margin-right: -8px;

}


.topbarwrapper{
   display: flex;
   height: 100%;
   align-items: center;
   padding: 0px 20px;
   justify-content: space-between;
}

.topleft
{
   cursor: pointer;
}

.topcenter
{
   cursor: pointer;
   color: rgb(228, 224, 224);
   font-size: 40px;
   text-align: center;
   margin-left: 70%;
}

.topright
{
   margin-top: 5px;
   margin-right: -15px;
}

     
a:hover {
      color:violet; /* pour le passage de la souris*/
}

a:link 
{ 
   text-decoration:none; 
} 