.info
{
    display: flex;
    justify-content: space-between;   
    flex: 4;
}

.containerWidget
{
    flex: 1;
    margin: 8px 16px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 1px -1px #000000; 
    box-shadow: 0px 0px 11px -1px white;
    background-color: transparent;
}


.titre
{
    text-align: center;
    margin-top: -10px;
}

.logo
{
    text-align:left;
    margin-top: 20px;
    margin-left: -25px;
    border-right: solid 3px rgb(228, 224, 224);
    width: 160px;
}

.maillots{
    margin-top: -155px;
    margin-left: 140px;
    width: 300px;
}


.widget2{
    color: rgb(228, 224, 224);
}

.ldc{
    vertical-align:middle;
    margin-left: -25px;
    margin-top: 50px;
}

.widget6{

    background-image: url("https://imagizer.imageshack.com/img923/3326/rqYvAa.jpg");
    background-size: 80%;
    height: 500px; 
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    margin: 8px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 1px -1px #000000; 
    box-shadow: 0px 0px 11px -1px white;

}

.navlinkk{
   
    color: rgb(228, 224, 224);
}

 .titre{
    color: rgb(228, 224, 224);
}

.G{
    margin-top: 190px;
    margin-left: 150px;
}

.DG{
    margin-top: -240px;
    margin-left: 280px;
}
.DC1{
    margin-top: 20px;
    margin-left: 260px;
}
.DC2{
    margin-top: 20px;
    margin-left: 260px;
}
.DD{
    margin-top: 20px;
    margin-left: 280px;
}

.MG{
    margin-top: -340px;
    margin-left: 420px;
}
.MC{
    margin-top: 20px;
    margin-left: 400px;
}
.MD{
    margin-top: 20px;
    margin-left: 420px;
}

.AG{
    margin-top: -320px;
    margin-left: 560px;
}
.BU{
    margin-top: 60px;
    margin-left: 590px;
}
.AD{
    margin-top: 60px;
    margin-left: 560px;
}
.coach{
    margin-top: -400px;
    margin-left: 710px;
}