.info
{
    display: flex;
    width: 100%; 
    height: 250px;
}

.containerWidget
{
flex: 2;
margin: 0px 20px;
padding: 30px;
border-radius: 10px;
cursor: pointer;
-webkit-box-shadow: 0px 0px 1px -1px #000000; 
box-shadow: 0px 0px 11px -1px #000000;
background-color:#ECF0F1;
}

.widget1
{
    display: flex;
    justify-content: space-between;   
    width: 100%; 
    
}

.titre
{
    text-align: center;
}

.logo
{
    text-align: center;
    margin-top: -20px;
}
.ol
{
    margin-bottom: 30px;
}